.navbarimg{
    width: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}